<%= form_with model: @article, local: true do |form| %>
  <%= render 'shared/errors', obj: @article%>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Title of the Article"%>
  </p>

  <p>
    <%= form.label :text %>
    <%= form.text_area :text, rows: 8,  placeholder: "Description of the Article"%>
  </p>

  <p class="btn-form">
    <%= form.submit %>
  </p>

<% end %>
