<h2 class="text-center mt-5" ><strong>Title: </strong><%= @article.title %></h2>
<div class=" container card bg-light p-3 col-sm-8 col-sm-offset-2" width="18rem">
  <h5 class="text-center"><strong>Description: </strong></h5><hr>
  <%= simple_format(@article.text)%>
  <div class="article-actions">
    <%= link_to 'Edit article', edit_article_path(@article), class:"btn btn-xs btn-primary" %>
    <%= link_to 'Delete article', article_path(@article), method: :delete,
                                  data: {confirm: "Are You sure? you want to delete article?"},
                                  class: "btn btn-xs btn-danger" %>
    <%= link_to 'Back to articles', articles_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
